# BOX42.config

CALLSIGN=BOX42-1

# TNC Ports
TNC0_ENABLED=1
TNC0_DEVICE=/dev/ttyUSB0
TNC0_BAUD=1200
TNC0_TYPE=TNC2C

TNC1_ENABLED=0
TNC2_ENABLED=0
TNC3_ENABLED=0

# Beacon
BEACON0_ENABLED=1
BEACON0_INTERVAL=600
BEACON0_DST=APRS
BEACON0_TEXT=BOX42-1 Node

# Digipeater
DIGI0_ENABLED=1
DIGI1_ENABLED=1
DIGI0_TO_1=1
DIGI1_TO_0=1

# Transport Forwarding
TF0_IN=0
TF0_OUT=1
TF0_DST=DB0XYZ
