callsign = DB0BOX

tnc0_enabled = 1
tnc0_device = /dev/ttyUSB0
tnc0_baud = 1200
tnc0_type = 2

tnc1_enabled = 0
tnc1_device = 
tnc1_baud = 0
tnc1_type = 0

tnc2_enabled = 0
tnc2_device = 
tnc2_baud = 0
tnc2_type = 0

tnc3_enabled = 0
tnc3_device = 
tnc3_baud = 0
tnc3_type = 0

beacon0_enabled = 1
beacon0_interval = 600
beacon0_dst = BEACON
beacon0_text = BOX42 online

beacon1_enabled = 0
beacon1_interval = 0
beacon1_dst = 
beacon1_text = 

beacon2_enabled = 0
beacon2_interval = 0
beacon2_dst = 
beacon2_text = 

beacon3_enabled = 0
beacon3_interval = 0
beacon3_dst = 
beacon3_text = 

digi_enabled0 = 1
digi_enabled1 = 0
digi_enabled2 = 0
digi_enabled3 = 0

digi_cross0_0 = 1
digi_cross0_1 = 1
digi_cross0_2 = 0
digi_cross0_3 = 0

digi_cross1_0 = 0
digi_cross1_1 = 0
digi_cross1_2 = 0
digi_cross1_3 = 0

digi_cross2_0 = 0
digi_cross2_1 = 0
digi_cross2_2 = 0
digi_cross2_3 = 0

digi_cross3_0 = 0
digi_cross3_1 = 0
digi_cross3_2 = 0
digi_cross3_3 = 0

tf0_used = 0
tf0_in_port = 0
tf0_out_port = 0
tf0_dst = 

tf1_used = 0
tf1_in_port = 0
tf1_out_port = 0
tf1_dst = 

tf2_used = 0
tf2_in_port = 0
tf2_out_port = 0
tf2_dst = 

tf3_used = 0
tf3_in_port = 0
tf3_out_port = 0
tf3_dst = 

tf4_used = 0
tf4_in_port = 0
tf4_out_port = 0
tf4_dst = 

tf5_used = 0
tf5_in_port = 0
tf5_out_port = 0
tf5_dst = 

tf6_used = 0
tf6_in_port = 0
tf6_out_port = 0
tf6_dst = 

tf7_used = 0
tf7_in_port = 0
tf7_out_port = 0
tf7_dst = 
